.calendarCarousel {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  perspective: 100vmin;
  perspective-origin: center 20vmin;
  pointer-events: all;

  --card-calendar-container-width: 67.04vmin;
  --card-calendar-aspect-ratio: 724 / 578;
  --card-calendar-bottom-offset: 0;
}

.datesPageCalendarCarousel {
  --card-calendar-container-width: 100%;
  --card-calendar-aspect-ratio: 1745 / 815;
  --card-calendar-bottom-offset: 0vmin;
}

.calendarCard {
  position: absolute;
  bottom: var(--card-calendar-bottom-offset);
  width: var(--card-calendar-container-width);
  aspect-ratio: var(--card-calendar-aspect-ratio);
}

.biMonthlyCalendarContainer {
  border-radius: 4.6vmin;
}
